.badge {
  display: inline-block;
}
.aui-badge {
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  cursor: default;
  font-size: 12px;
  padding: 4px 12px;
  background: #e6e6e6;
  color: #fff;
}
.aui-group-he {
  padding: 15px 15px 0 15px;
}
.aui-group-he h2 {
  font-weight: normal;
  font-size: 14px;
}
.aui-group-co {
  padding: 15px;
}
.aui-badge-r {
  padding: 0;
  border-radius: 20px;
  width: 22px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  display: inline-block;
}
.aui-badge-primary {
  background: #0e90d2;
}
.aui-badge-secondary {
  background: #3bb4f2;
}
.aui-badge-success {
  background: #5eb95e;
}
.aui-badge-warning {
  background: #F43530;
}
.aui-badge-prompt {
  background: #f37b1d;
}
.aui-badge-alert {
  background: #f36142;
}
.aui-badge-dark {
  background: #333;
}
.aui-flex-content {
  padding: 10px;
}
.aui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.aui-flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.aui-flex-box {
  margin: 5px;
  padding: 0 10px;
  background-color: #f36142;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  display: block;
  font-size: 14px;
}
