.aui-content-padded {
  margin: 15px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.aui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 15px;
}
.aui-btn-info {
  color: #ffffff !important;
  background-color: #f36142 !important;
}
.aui-btn-block {
  display: block;
  width: 100%;
  padding: 5px 0;
}
/*toast*/
.aui-toast {
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 0.25rem;
  color: #ffffff;
  position: fixed;
  z-index: 3;
  top: 45%;
  left: 50%;
  width: 7.5em;
  min-height: 6em;
  margin-left: -3.75em;
  margin-top: -4rem;
  display: none;
}
.aui-toast .aui-iconfont {
  margin-top: 0.2rem;
  display: block;
  font-size: 2.6rem;
}
.aui-toast-content {
  margin: 0 0 0.75rem;
}
/*dialog*/
.aui-dialog {
  width: 280px;
  text-align: center;
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -140px;
  margin-top: 0;
  top: 45%;
  border-radius: 0.3rem;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0) scale(1.2);
  transform: translate3d(0, 0, 0) scale(1.2);
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  /*display: none;*/
}
.aui-dialog-header {
  padding: 0.5rem 0.75rem 0 0.75rem;
  text-align: center;
  font-size: 1em;
  color: #212121;
}
.aui-dialog-body {
  padding: 0.75rem;
  overflow: hidden;
  font-size: 0.875em;
  color: #757575;
}
.aui-dialog-body input {
  border: 1px solid #bdbdbd;
  border-radius: 0.2rem;
  min-height: 1.8rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  appearance: button;
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari 和 Chrome */
}
.aui-dialog-footer {
  position: relative;
  font-size: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.aui-dialog-footer:after {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.aui-dialog-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0.25rem;
  height: 44px;
  font-size: 0.8rem;
  line-height: 44px;
  text-align: center;
  color: #0894ec;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.aui-dialog-btn:after {
  width: 1px;
  height: 100%;
  background-color: #dddddd;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.aui-dialog-btn:first-child:after {
  width: 0;
}
.aui-dialog.aui-dialog-in {
  opacity: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.aui-dialog.aui-dialog-out {
  opacity: 0;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0) scale(0.815);
  transform: translate3d(0, 0, 0) scale(0.815);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .aui-dialog-footer:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .aui-dialog-btn:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .aui-dialog-footer:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .aui-dialog-btn:after {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .aui-dialog-footer:after {
    -webkit-transform: scaleY(0.333);
    transform: scaleY(0.333);
  }
  .aui-dialog-btn:after {
    -webkit-transform: scaleX(0.333);
    transform: scaleX(0.333);
  }
}
.aui-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 8;
  visibility: hidden;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.aui-mask.aui-mask-in {
  visibility: visible;
  opacity: 1;
}
.aui-mask.aui-mask-out {
  opacity: 0;
}
img.aui-img-round {
  border-radius: 50%;
}
.aui-btn-primary {
  background-color: #f48067;
  color: #fff;
}
.aui-btn-warning {
  background-color: #ec9683;
  color: #fff;
}
.aui-btn-success {
  background-color: #1aad19;
}
