.aui-switch-title {
  width: 100%;
  line-height: 26px;
  font-size: 14px;
  color: #666;
}
.aui-switch {
  width: 46px;
  height: 26px;
  margin: 0 10px;
  position: relative;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 13px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  transition: border cubic-bezier(0, 0, 0, 1) 0.2s, box-shadow cubic-bezier(0, 0, 0, 1) 0.2s;
}
.aui-switch:before {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: '';
  transition: left 0.2s;
}
.aui-switch:checked {
  border-color: #f36142;
  box-shadow: #f36142 0 0 0 26px inset;
  background-color: #f36142;
  transition: border ease 0.2s, box-shadow ease 0.2s, background-color ease 0.6s;
}
.aui-switch.aui-switch-info:checked {
  border-color: #3498db;
  box-shadow: #3498db 0 0 0 26px inset;
  background-color: #3498db;
}
.aui-switch.aui-switch-success:checked {
  border-color: #2ecc71;
  box-shadow: #2ecc71 0 0 0 26px inset;
  background-color: #2ecc71;
}
.aui-switch.aui-switch-danger:checked {
  border-color: #e74c3c;
  box-shadow: #e74c3c 0 0 0 26px inset;
  background-color: #e74c3c;
}
.aui-switch.aui-switch-warning:checked {
  border-color: #f1c40f;
  box-shadow: #f1c40f 0 0 0 26px inset;
  background-color: #f1c40f;
}
.aui-switch:checked:before {
  left: 20px;
  transition: left 0.2s;
}
/*列表*/
.aui-content > .aui-list-view:last-child {
  margin-bottom: 15px;
}
.aui-list-view {
  position: relative;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
}
.aui-list-view-cell {
  display: flex;
  position: relative;
  padding: 12px 15px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-touch-callout: none;
}
.aui-list-view-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}
