.index-head { background: #081825; height: 50px; border-bottom: none !important; }
.topbar { display: block; position: absolute; right: 9px; top: 17px; z-index: 3 }
.topbar li { display: block; float: left; margin: 0 6px; }
.topbar li a { color: #70A6D2; text-align: center; font-size: 12px; }
.topbar li a:hover { color: #036487 }
.topbar li a i { display: block; margin-bottom: 5px; font-size: 16px; }
.logo { display: block; position: absolute; left: 9px; top: 6px; z-index: 3; width: 350px }
.index-left { background: #2790BC; }
.index-center { border: none!important; }
.u-menutitle { background: #05253D; }
.u-sidemenu li a {background: #0CAEE0;color: #FFFFFF;border-bottom: #1494BB 1px solid;height: 35px;line-height: 35px;}
.u-sidemenu li a:hover { background: #005E8D; color: #fff }
.u-sidemenu li ul li { border-bottom: none!important; }
.u-sidemenu li ul li a {background: #009BCC;color: #CBF0F7;border-bottom: #1FB6E4 1px solid;}
.u-sidemenu li ul li a:hover { background: #005E8D; color: #fff }
.u-sidemenu li a.activate {background-color: #21B8E7;color: #fff;}
.u-sidemenu li ul li a.activate {background-color: #1A405F;color: #fff;}
.u-topmenu{background-repeat:no-repeat;background-position:left top;background-color: #23B7E5;}
.u-topmenu li a {color: #FFFFFF;}
.u-topmenu li a .iconfont {color: #FFFFFF;}
.u-topmenu li a:hover { background-color: #7BD4EF; color: #fff }
.u-topmenu li a:hover .iconfont { color: #fff }
.u-topmenu li ul { border: #F1F1F1 1px solid; }
.u-topmenu li ul li { border-bottom: #F1F1F1 1px solid; }
.u-topmenu li ul li a { background-color: #FFFFFF; color: #888; }
.u-topmenu li ul li a:hover { background-color: #F7F7F7; color: #3D3D3D }
.u-topmenu li a.activate { background-color: #FF7300; color: #fff; }

.g-login { }
.g-login-bg-top { background: url(/andyui/admin/img/loginbg03.jpg) center top }
.g-login-bg-buttom { background: #EEF2F5 }
.g-login-box { position: absolute; z-index: 5; box-shadow: 0 0 8px rgba(0,0,0,.5); width: 300px; height: 180px; left: 50%; top: 50%; margin-top: -100px; margin-left: -150px; font-family: "微软雅黑" }
.g-login-logo { position: absolute; z-index: 5; left: 50%; top: 50%; margin-top: -200px; margin-left: -85px }
.g-login-banner { width: 500px; height: 300px; display: none }
.g-login-title { font-weight: 200; color: #aaa }
.u-path {border-bottom: 1px solid #2CCAFB;background-color: #2CCAFB;width: 100%;}
.u-path li {color: #AFECFF;}
.u-path li.activate {color: #FFFFFF;}
.index-foot { height: 30px; line-height: 30px; border: none!important; background: #08395E; color: #557995; text-align: right; }

#maskLeft, #maskRight { position: absolute; display: none; z-index: 3; }
#maskLeft { background: #FEEBDE url(/andyui/admin/skin/redLotus/img/top-bg.png) left top no-repeat; }
#maskRight { background: rgb(254, 235, 222); }
#leftBt, #rightBt { color: #B20000 !important; width: 25px; position: absolute; text-decoration: none; cursor: pointer; display: none; }
.u-topmenuul { position: absolute; transition: left 0.3s; -moz-transition: left 0.3s; -webkit-transition: left 0.3s; -o-transition: left 0.3s; background-color:#23B7E5 }

.u-navmore .u-but-group.u-button-icon{background-color: #009BCC;/* color: #fff; */border-color: #00799E;}
.u-navmore .u-but-group.u-button-icon .iconfont{color: #FFFFFF;}
/***左侧菜单动画******/
.u-sidemenu li a .iconfont.moreicon { transform: rotate(-90deg); transition: transform 0.2s; -moz-transition: -moz-transform 0.2s; -webkit-transition: -webkit-transform 0.2s; -o-transition: -o-transform 0.2s; }
.u-sidemenu .activate .iconfont.moreicon { transform: rotate(0deg); }
.an-floathandle.left {right: 0px;position: absolute;top: 50%;width: 15px;height: 54px;padding-top: 34px;margin-top: -44px;/* opacity: 0.7; */background: #0D95BF;text-align: center;border-radius: 0 5px 5px 0;color: #FFFFFF;}
#menu-nav-left {width: 200px;height: 100%;background: #0CAEE0;box-shadow: 2px 0 4px rgba(0,0,0,.3);}
#leftnavbox {left: -200px;width: 215px;background: none;box-shadow: none;}