.index-head { background: #081825; height: 50px; border-bottom: none !important; }
.topbar { display: block; position: absolute; right: 9px; top: 17px; z-index: 3 }
.topbar li { display: block; float: left; margin: 0 6px; }
.topbar li a { color: #70A6D2; text-align: center; font-size: 12px; }
.topbar li a:hover { color: #036487 }
.topbar li a i { display: block; margin-bottom: 5px; font-size: 16px; }
.logo { display: block; position: absolute; left: 9px; top: 6px; z-index: 3; width: 350px }
.index-left { background: #2790BC; }
.index-center { border: none!important; }

#leftnavbox{ background: url(img/leftbg.png) left top no-repeat;}

.u-menutitle { background: #05253D; }
.u-sidemenu{border-radius: 5px;border: 1px solid #E4B4A5;}

.u-sidemenu li a {color: #A75F4B;border-bottom: #FBD7BF 1px solid;height: 35px;line-height: 35px;background:#FDFAF3 url(img/libg.png) left 50% no-repeat;text-indent: 10px;}
.u-sidemenu li:nth-child(1) a{border-radius: 5px 5px 0 0;}
.u-sidemenu li:last-child a{border-radius:0 0 5px 5px; border-bottom:none}
.u-sidemenu li a:hover { background: #B95C3E; color: #fff; background:#D3BB87 url(img/libg2.png) left 50% no-repeat;border-bottom-color:#D3BB87}
.u-sidemenu li ul li { border-bottom: none!important; }
.u-sidemenu li ul li a {background: #E89159;color: #FFFFFF;border-bottom: #F5BA95 1px solid;}
.u-sidemenu li ul li a:hover { background: #B95C3E; color: #fff }
.u-sidemenu li a.activate {background:#D3BB87 url(img/libg2.png) left 50% no-repeat; color: #fff;border-bottom-color:#D3BB87}
.u-sidemenu li ul li a.activate {background-color:#B52C2C;color: #fff;}
.u-sidemenu li a .iconfont.classicon{ color:#B80003}
.u-sidemenu li a:hover .iconfont.classicon { color: #fff }

/*.u-topmenu { background: url(img/navbg.png) left top no-repeat}*/
.u-topmenu li a {color: #9C4C1B;}
.u-topmenu li a .iconfont {color: #A25F4B;}
.u-topmenu li a:hover { background-color: #E1BFA9; color: #9C4C1B }
.u-topmenu li a:hover .iconfont { color: #9C4C1B }
.u-topmenu li ul { border: #F1F1F1 1px solid; }
.u-topmenu li ul li { border-bottom: #F1F1F1 1px solid; }
.u-topmenu li ul li a { background-color: #FFFFFF; color: #888; }
.u-topmenu li ul li a:hover { background-color: #F7F7F7; color: #3D3D3D }
.u-topmenu li a.activate {background-color: #B52C2C;color: #fff;}
.u-topmenu li a.activate:hover .iconfont { color: #ffffff }

.g-login { }
.g-login-bg-top { background: url(/andyui/admin/img/loginbg03.jpg) center top }
.g-login-bg-buttom { background: #EEF2F5 }
.g-login-box { position: absolute; z-index: 5; box-shadow: 0 0 8px rgba(0,0,0,.5); width: 300px; height: 180px; left: 50%; top: 50%; margin-top: -100px; margin-left: -150px; font-family: "微软雅黑" }
.g-login-logo { position: absolute; z-index: 5; left: 50%; top: 50%; margin-top: -200px; margin-left: -85px }
.g-login-banner { width: 500px; height: 300px; display: none }
.g-login-title { font-weight: 200; color: #aaa }

.index-foot { height: 30px; line-height: 30px; border: none!important; background: #08395E; color: #557995; text-align: right; }

.u-path{width: 100%; background:url(img/pathbg.png) left top no-repeat;border-bottom: solid 1px #D19D41;}
.u-path li{color: #D68362;}
.u-path li a{color: #A25F4B;}
.u-path li.activate a{color: #A15E4A;}
.u-path li.activate.home a .iconfont {right: -9px;font-weight: normal;color: #C59374;top: 19px;}
.u-path li.activate.home a .homeicon{right: 12px;}

#maskLeft, #maskRight { position: absolute; display: none; z-index: 3; }
#maskLeft { background: #FEEBDE url(/andyui/admin/skin/redLotus/img/top-bg.png) left top no-repeat; }
#maskRight { background: rgb(254, 235, 222); }
#leftBt, #rightBt { color: #B20000 !important; width: 25px; position: absolute; text-decoration: none; cursor: pointer; display: none; }
.u-topmenuul {position: absolute;transition: left 0.3s;-moz-transition: left 0.3s;-webkit-transition: left 0.3s;-o-transition: left 0.3s; background:none}
.u-navmore .u-but-group.u-button-icon{background-color: #C59374;/* color: #fff; */border-color: #C59374;}
.u-navmore .u-but-group.u-button-icon .iconfont{color: #FFFFFF;}
/***左侧菜单动画******/
.u-sidemenu li a .iconfont.moreicon { transform: rotate(-90deg); transition: transform 0.2s; -moz-transition: -moz-transform 0.2s; -webkit-transition: -webkit-transform 0.2s; -o-transition: -o-transform 0.2s; }
.u-sidemenu .activate .iconfont.moreicon { transform: rotate(0deg); }
.an-floathandle.left {right: 0px;position: absolute;top: 50%;width: 15px;height: 54px;padding-top: 34px;margin-top: -44px;/* opacity: 0.7; */background: #B58161;text-align: center;border-radius: 0 5px 5px 0;color: #FBD7BF;}
#menu-nav-left {width: 180px;padding: 10px;height: 100%;box-shadow: 2px 0 4px rgba(0,0,0,.3);background:url(img/leftbg.png) left top no-repeat;background-size:100% 100%;}
#leftnavbox {left: -200px;width: 215px;background: none;box-shadow: none;}



