.index-head{ background: #081825; height:50px; border-bottom:none !important;}
.topbar{ display:block; position:absolute; right: 9px; top: 17px; z-index:3}
.topbar li{ display:block; float:left; margin: 0 6px;}
.topbar li a{ color: #70A6D2; text-align:center;font-size: 12px;}
.topbar li a:hover{ color:#036487}
.topbar li a i{ display:block; margin-bottom:5px; font-size: 16px;}
.logo{display:block; position:absolute; left: 9px; top: 6px; z-index:3; width:350px}
.index-left{ background: #2790BC;}
.index-center{ border:none!important;}
.u-menutitle{ background: #05253D;}


/*头部导航菜单*/
.u-topmenu{ background: #21B9E6 url(img/top-bg.png) left top no-repeat; padding-left: 97px;}
.u-topmenu li a{color: #FFFFFF!important;}
.u-topmenu li a .iconfont{ color: #FFFFFF!important;}
.u-topmenu li a:hover{ background-color:rgba(255,255,255,.5); color:#000000}
.u-topmenu li a:hover .iconfont{ color:#000000}																		
.u-topmenu li ul{ border:#F1F1F1 1px solid; }
.u-topmenu li ul li{border-bottom:#F1F1F1 1px solid;}
.u-topmenu li ul li a{background-color:#FFFFFF; color:#888;}
.u-topmenu li ul li a:hover{ background-color:#F7F7F7; color:#3D3D3D}
.u-topmenu li a.activate , .u-topmenu li a.activate .iconfont{background-color: #0A92BB;color: #fff!important;}
/*右侧菜单*/
#leftnavbox{ background: #14A3CE url(img/leftbottombg.png) left bottom no-repeat;}
#menu-nav-left{
/* padding: 10px 5px 20px 5px; */
margin: 5px;background: #fff;border-radius: 5px;overflow: hidden;box-shadow: 1px 2px 5px rgba(0,0,0,.3);}
.u-sidemenu li a{color: #14A3CE; height: 35px;line-height: 35px; background:none; border-bottom: solid 1px rgb(213, 242, 251);}

.u-sidemenu>li>a{ font-weight:bold; font-size:13px; /* text-shadow: 1px 1px 0 rgb(211, 246, 251); */}
.u-sidemenu li a .iconfont{ font-weight:normal;color: #FF8300;}
.u-sidemenu li a .iconfont.moreicon{color: #14A3CE;}
.u-sidemenu li a:hover{ background:#D3F1FA;
border-bottom:none!important;
color:#14A3CE;
text-shadow:none
}
.u-sidemenu li ul { border-left:#50B6E7 1px dotted; margin-left:20px; width:170px}
.u-sidemenu li ul li{ border-bottom:none!important;}
.u-sidemenu li ul li a{background: none; color:#14A3CE; border-bottom:none;}
.u-sidemenu li ul li a:hover{
background:#14A3CE; color:#fff}
/*不常用菜单*/
.u-navmore{ bottom:0px}

.u-path{ border-bottom:none!important; background-color: #14A3CE;width: 100%;}
.u-path li{color: #A7EBFF;}
.u-path li.activate { color: #FFFFFF;}
.u-path li.activate.home{ width:50px; color:#A7EBFF}
.u-path li.activate.home a { color:#A7EBFF}
.u-path li.activate.home a .iconfont{right:12px;}
.index-foot{ height:30px; line-height:30px; border:none!important;background: #08395E;color: #557995;text-align: right;}
.u-topmenu li a{ color:#fff}
.u-topmenu li a .iconfont {color:#fff}

.g-login{}
.g-login-bg-top{ background:url(img/loginbg02.jpg) center top}
.g-login-bg-buttom{ background:#EEF2F5}
.g-login-box{ position:absolute;  z-index:5;  box-shadow:0 0 8px rgba(0,0,0,.5); width:780px; height:260px; left:50%; top:50%; margin-top:-130px; margin-left:-380px; font-family:"微软雅黑"}
.g-login-logo{ position:absolute;  z-index:8; left:50%; top:50%; margin-top: -57px; margin-left: -83px;}
.g-login-banner{width:500px; height:260px; display:block}
.g-login-title{ font-weight:200; color:#aaa}
