<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.ArtMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.Art">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="ART_TITLE" jdbcType="VARCHAR" property="artTitle" />
		<id column="ART_SUMMARY" jdbcType="VARCHAR" property="artSummary" />
		<id column="ART_IMG" jdbcType="VARCHAR" property="artImg" />
		<id column="ART_URL" jdbcType="VARCHAR" property="artUrl" />
		<id column="DATE_STR" jdbcType="VARCHAR" property="dateStr" />
		<id column="CURRENT_PERIOD" jdbcType="INTEGER" property="currentPeriod" />
		<id column="CURRENT_PERIOD_SORT" jdbcType="INTEGER" property="currentPeriodSort" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="VARCHAR" property="status" />
		<id column="SORT" jdbcType="VARCHAR" property="sort" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		ART_TITLE,
		ART_SUMMARY,
		ART_IMG,
		ART_URL,
		DATE_STR,
		CURRENT_PERIOD,
		CURRENT_PERIOD_SORT,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS,
		SORT,
		MENU_ID,
		PARENT_MENU_ID,
		DESC_M
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from art where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from art where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoshu.entity.Art">
		insert into art
		(ID,ART_TITLE,ART_SUMMARY,ART_IMG,ART_URL,DATE_STR,CURRENT_PERIOD,CURRENT_PERIOD_SORT,CREATE_TIME,UPDATE_TIME,STATUS,SORT,MENU_ID,PARENT_MENU_ID,DESC_M)
		values
		(#{id,jdbcType=VARCHAR},#{artTitle,jdbcType=VARCHAR},#{artSummary,jdbcType=VARCHAR},#{artImg,jdbcType=VARCHAR},#{artUrl,jdbcType=VARCHAR},#{dateStr,jdbcType=VARCHAR},#{currentPeriod,jdbcType=INTEGER},#{currentPeriodSort,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR},#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoshu.entity.Art">
		insert into art
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="artTitle != null">ART_TITLE,</if>
			<if test="artSummary != null">ART_SUMMARY,</if>
			<if test="artImg != null">ART_IMG,</if>
			<if test="artUrl != null">ART_URL,</if>
			<if test="dateStr != null">DATE_STR,</if>
			<if test="currentPeriod != null">CURRENT_PERIOD,</if>
			<if test="currentPeriodSort != null">CURRENT_PERIOD_SORT,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="sort != null">SORT,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID,</if>
			<if test="descM != null">DESC_M,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="artTitle != null">#{artTitle,jdbcType=VARCHAR},</if>
			<if test="artSummary != null">#{artSummary,jdbcType=VARCHAR},</if>
			<if test="artImg != null">#{artImg,jdbcType=VARCHAR},</if>
			<if test="artUrl != null">#{artUrl,jdbcType=VARCHAR},</if>
			<if test="dateStr != null">#{dateStr,jdbcType=VARCHAR},</if>
			<if test="currentPeriod != null">#{currentPeriod,jdbcType=INTEGER},</if>
			<if test="currentPeriodSort != null">#{currentPeriodSort,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort,jdbcType=VARCHAR},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.Art">
		update art
		<set>
			<if test="artTitle != null">ART_TITLE =#{artTitle,jdbcType=VARCHAR},</if>
			<if test="artSummary != null">ART_SUMMARY =#{artSummary,jdbcType=VARCHAR},</if>
			<if test="artImg != null">ART_IMG =#{artImg,jdbcType=VARCHAR},</if>
			<if test="artUrl != null">ART_URL =#{artUrl,jdbcType=VARCHAR},</if>
			<if test="dateStr != null">DATE_STR =#{dateStr,jdbcType=VARCHAR},</if>
			<if test="currentPeriod != null">CURRENT_PERIOD =#{currentPeriod,jdbcType=INTEGER},</if>
			<if test="currentPeriodSort != null">CURRENT_PERIOD_SORT =#{currentPeriodSort,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=VARCHAR},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.Art">
		update
		art
		set
		
		ART_TITLE = #{artTitle,jdbcType=VARCHAR},
		ART_SUMMARY = #{artSummary,jdbcType=VARCHAR},
		ART_IMG = #{artImg,jdbcType=VARCHAR},
		ART_URL = #{artUrl,jdbcType=VARCHAR},
		DATE_STR = #{dateStr,jdbcType=VARCHAR},
		CURRENT_PERIOD = #{currentPeriod,jdbcType=INTEGER},
		CURRENT_PERIOD_SORT = #{currentPeriodSort,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=VARCHAR},
		SORT = #{sort,jdbcType=VARCHAR},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from art
		<where>
			1=1 and status = 1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND ART_TITLE LIKE CONCAT('%',#{search},'%')
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	<select id="selectCount" parameterType="com.xiaoshu.entity.Art" resultType="int">
		select count(*) from art
		<where>
			1=1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND ART_TITLE LIKE CONCAT('%',#{search},'%')
			</if>
		</where>
	</select>

</mapper>
