<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.CommodityGroupMemberMapper">
   <!-- 自定义返回结果集 -->
   <resultMap id="CommodityGroupMember" type="com.xiaoshu.entity.CommodityGroupMember">
		<id property="id" column="ID" javaType="java.lang.String"></id>
		<result property="commodityId" column="COMMODITY_ID" javaType="java.lang.Integer"></result>
		<result property="createDate" column="CREATE_DATE" javaType="java.util.Date"></result>
		<result property="descM" column="DESC_M" javaType="java.lang.String"></result>
	    <result property="userId" column="USER_ID" javaType="java.lang.String"></result>
	    <result property="lender" column="LENDER" javaType="java.lang.Integer"></result>
	    <result property="orderNo" column="ORDER_NO" javaType="java.lang.String"></result>
	    <result property="groupId" column="GROUP_ID" javaType="java.lang.String"></result>
	    <result property="status" column="STATUS" javaType="java.lang.Integer"></result>
	   	<association property="user" column="USER_ID" javaType="com.xiaoshu.entity.FocusedUserInfo" select="com.xiaoshu.dao.FocusedUserInfoMapper.selectByPrimaryKey">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<id column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
			<id column="OPENID" jdbcType="VARCHAR" property="openid" />
			<id column="UNIONID" jdbcType="VARCHAR" property="unionid" />
			<id column="HEAD_IMG_URL" jdbcType="VARCHAR" property="headImgUrl" />
		</association>
	</resultMap>

	<!-- 查询列表 -->
	<select id="getListByGroupIdAndStatus" parameterType="java.util.Map" resultMap="CommodityGroupMember">
   		SELECT * FROM  commodity_group_member WHERE GROUP_ID = #{groupId}
		<if test="status != -1 ">
			AND STATUS = #{status}
		</if>
		ORDER BY CREATE_DATE
	</select>
	
	<!-- 统计 -->
	<select id="countByStatus" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM  commodity_group_member WHERE GROUP_ID = #{groupId}
		<if test="status != -1 ">
			AND STATUS = #{status}
		</if>
	</select>


</mapper>