<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.FocusedUserGroupMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.FocusedUserGroup">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
		<id column="PERMISSIONS" jdbcType="VARCHAR" property="permissions" />
		<id column="NUMBER" jdbcType="VARCHAR" property="number" />
		<id column="MIX_NUMBER" jdbcType="VARCHAR" property="mixNumber" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="SORT" jdbcType="VARCHAR" property="sort" />
		<id column="TEMP" jdbcType="VARCHAR" property="temp" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		GROUP_NAME,
		PERMISSIONS,
		NUMBER,
		MIX_NUMBER,
		DESC_M,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS,
		SORT,
		TEMP,
		MENU_ID,
		PARENT_MENU_ID
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from focused_user_group where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from focused_user_group where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.xiaoshu.entity.FocusedUserGroup">
		insert into focused_user_group
		(ID,GROUP_NAME,PERMISSIONS,NUMBER,MIX_NUMBER,DESC_M,CREATE_TIME,UPDATE_TIME,STATUS,SORT,TEMP,MENU_ID,PARENT_MENU_ID)
		values
		(#{id,jdbcType=VARCHAR},#{groupName,jdbcType=VARCHAR},#{permissions,jdbcType=VARCHAR},#{number,jdbcType=VARCHAR},#{mixNumber,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{sort,jdbcType=VARCHAR},#{temp,jdbcType=VARCHAR},#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.xiaoshu.entity.FocusedUserGroup">
		insert into focused_user_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="groupName != null">GROUP_NAME,</if>
			<if test="permissions != null">PERMISSIONS,</if>
			<if test="number != null">NUMBER,</if>
			<if test="mixNumber != null">MIX_NUMBER,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="sort != null">SORT,</if>
			<if test="temp != null">TEMP,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="groupName != null">#{groupName,jdbcType=VARCHAR},</if>
			<if test="permissions != null">#{permissions,jdbcType=VARCHAR},</if>
			<if test="number != null">#{number,jdbcType=VARCHAR},</if>
			<if test="mixNumber != null">#{mixNumber,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="sort != null">#{sort,jdbcType=VARCHAR},</if>
			<if test="temp != null">#{temp,jdbcType=VARCHAR},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.FocusedUserGroup">
		update focused_user_group
		<set>
			<if test="groupName != null">GROUP_NAME =#{groupName,jdbcType=VARCHAR},</if>
			<if test="permissions != null">PERMISSIONS =#{permissions,jdbcType=VARCHAR},</if>
			<if test="number != null">NUMBER =#{number,jdbcType=VARCHAR},</if>
			<if test="mixNumber != null">MIX_NUMBER =#{mixNumber,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=VARCHAR},</if>
			<if test="temp != null">TEMP =#{temp,jdbcType=VARCHAR},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.FocusedUserGroup">
		update
		focused_user_group
		set
		
		GROUP_NAME = #{groupName,jdbcType=VARCHAR},
		PERMISSIONS = #{permissions,jdbcType=VARCHAR},
		NUMBER = #{number,jdbcType=VARCHAR},
		MIX_NUMBER = #{mixNumber,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=INTEGER},
		SORT = #{sort,jdbcType=VARCHAR},
		TEMP = #{temp,jdbcType=VARCHAR},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from focused_user_group
		<where>
			1=1 and status = 1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND GROUP_NAME LIKE CONCAT('%',#{search},'%')
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	
	<select id="selectCount" parameterType="com.xiaoshu.entity.FocusedUserGroup" resultType="int">
		select count(*) from focused_user_group
		<where>
			1=1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND GROUP_NAME LIKE CONCAT('%',#{search},'%')
			</if>
		</where>
	</select>

	<select id="getListByParentMenuId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			t1.*
		FROM
			`focused_user_group` t1
		INNER JOIN menu t2 ON t1.MENU_ID = t2.menuId
		AND t1. STATUS = 1
		WHERE
			t2.parentId = #{menuId}
	</select>
</mapper>
