<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.xiaoshu.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menuId" jdbcType="INTEGER" property="menuid" />
    <result column="menuName" jdbcType="VARCHAR" property="menuname" />
    <result column="menuUrl" jdbcType="VARCHAR" property="menuurl" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="menuDescription" jdbcType="VARCHAR" property="menudescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="iconCls" jdbcType="VARCHAR" property="iconcls" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>

  <select id="getParentIdByMenuId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT parentId FROM menu where menuId = #{menuId}
  </select>
</mapper>