<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.MessageRecordMapper">
   <!-- 自定义返回结果集 -->
   <resultMap id="MessageRecord" type="com.xiaoshu.entity.MessageRecord">
		<id property="id" column="ID" javaType="java.lang.String"></id>
		<result property="mobile" column="MOBILE" javaType="java.lang.String"></result>
		<result property="sign" column="SIGN" javaType="java.lang.String"></result>
		<result property="content" column="CONTENT" javaType="java.lang.String"></result>
	    <result property="userId" column="USER_ID" javaType="java.lang.String"></result>
	    <result property="responseStatus" column="RESPONSE_STATUS" javaType="java.lang.String"></result>
	    <result property="createTime" column="CREATE_TIME" javaType="java.util.Date"></result>
	    <result property="updateTime" column="UPDATE_TIME" javaType="java.util.Date"></result>
	    <result property="descM" column="DESC_M" javaType="java.lang.String"></result>
	    <result property="code" column="CODE" javaType="java.lang.String"></result>
	    <result property="status" column="STATUS" javaType="java.lang.Integer"></result>
	</resultMap>

	<!-- 按照模糊分页查询列表 -->
	<select id="listByKeyWord" parameterType="java.util.Map" resultMap="MessageRecord">
   		SELECT ID, MOBILE, SIGN, CONTENT, USER_ID, RESPONSE_STATUS, CREATE_TIME, UPDATE_TIME, DESC_M, CODE , STATUS
		FROM  message_record
		WHERE CREATE_TIME &gt; #{date1 } AND CREATE_TIME &lt; #{date2 }
		<if test="keyword != null and keyword != ''">
			AND SIGN LIKE concat(concat('%',#{keyword}),'%') OR CONTENT LIKE LIKE concat(concat('%',#{keyword}),'%')
		</if>
		ORDER BY CREATE_TIME DESC
   		limit #{index},#{pageSize}
	</select>
	
	<!-- 按照key统计个数 -->
	<select id="countByKeyWord" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM  message_record
		WHERE CREATE_TIME &gt; #{date1 } AND CREATE_TIME &lt; #{date2 }
		<if test="keyword != null and keyword != ''">
			AND SIGN LIKE concat(concat('%',#{keyword}),'%') OR CONTENT LIKE LIKE concat(concat('%',#{keyword}),'%')
		</if>
	</select>  
</mapper>