<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.OrderMapper">
   <!-- 自定义返回结果集 -->
	<resultMap id="Order" type="com.xiaoshu.entity.Order">
		<id property="id" column="ID" javaType="java.lang.Integer"></id>
		<result property="orderName" column="ORDER_NAME" javaType="java.lang.String"></result>
		<result property="orderNo" column="ORDER_NO" javaType="java.lang.String"></result>
		<result property="createTime" column="CREATE_TIME" javaType="java.lang.String"></result>
		<result property="paymentTime" column="PAYMENT_TIME" javaType="java.lang.String"></result>
		<result property="descM" column="DESC_M" javaType="java.lang.String"></result>
		<result property="numberDescM" column="NUMBER_DESC_M" javaType="java.lang.String"></result>
		<result property="orderAmountMoney" column="ORDER_AMOUNT_MONEY" javaType="java.lang.Double"></result>
		<result property="typeState" column="TYPE_STATE" javaType="java.lang.Integer"></result>
		<result property="status" column="STATUS" javaType="java.lang.Integer"></result>
		<result property="userId" column="USER_ID" javaType="java.lang.String"></result>
		<result property="userName" column="USER_NAME" javaType="java.lang.String"></result>
		<result property="userPhone" column="USER_PHONE" javaType="java.lang.String"></result>
		<result property="userUseTime" column="USER_USE_TIME" javaType="java.lang.String"></result>
		<result property="sellerId" column="SELLER_ID" javaType="java.lang.Integer"></result>
		<result property="invalidTime" column="INVALID_TIME" javaType="java.lang.String"></result>
		<result property="image" column="IMAGE" javaType="java.lang.String"></result>
		<result property="useCode" column="USE_CODE" javaType="java.lang.String"></result>
		<result property="transactionId" column="TRANSACTION_ID" javaType="java.lang.String"></result>
		<result property="payType" column="PAY_TYPE" javaType="java.lang.String"></result>
		<result property="number" column="NUMBER" javaType="java.lang.Integer"></result>
		<result property="number2" column="NUMBER2" javaType="java.lang.Integer"></result>
		<result property="commodityId" column="COMMODITY_ID" javaType="java.lang.Integer"></result>
		<result property="orderType" column="ORDER_TYPE" javaType="java.lang.Integer"></result>
		<result property="groupId" column="GROUP_ID" javaType="java.lang.String"></result>
	</resultMap>

	<insert id="save" parameterType="com.xiaoshu.entity.Order" useGeneratedKeys="true" keyProperty="id">

		insert into
		orders( ORDER_NAME, ORDER_NO, CREATE_TIME, PAYMENT_TIME, DESC_M, NUMBER_DESC_M, ORDER_AMOUNT_MONEY,
		TYPE_STATE, STATUS, USER_ID, USER_NAME, USER_PHONE, USER_USE_TIME, SELLER_ID, INVALID_TIME, IMAGE, USE_CODE,TRANSACTION_ID,PAY_TYPE,NUMBER,NUMBER2,COMMODITY_ID,ORDER_TYPE,GROUP_ID )
		values
		(#{orderName}, #{orderNo}, #{createTime}, #{paymentTime}, #{descM}, #{numberDescM},
		#{orderAmountMoney}, #{typeState}, #{status}, #{userId}, #{userName}, #{userPhone}, #{userUseTime}, #{sellerId},
		#{invalidTime}, #{image}, #{useCode}, #{transactionId}, #{payType}, #{number}, #{number2},#{commodityId},#{orderType},#{groupId} )
	</insert>
	
	<!--
	order_typeState;//订单状态 -1查询所有状态  0未付款 1已付款 2有消费 3已完成 
	order_state;//订单存在状态 0未删除 -1删除
	byuser 是否启用按照用户的订单查询 0不启用  else查询用户订单
	-->
	<!-- 按照模糊分页查询列表 -->
	<select id="listByKeyAndTypeStateAndStatusAndUserIdAndSellerId" parameterType="java.util.Map" resultMap="Order">
   		SELECT * FROM  orders WHERE STATUS = #{status}
		<if test="date1 != '-1' or date2 != '-1' ">
			AND CREATE_TIME &gt; #{date1 } AND CREATE_TIME &lt; #{date2 }
		</if>
		<if test="typeState != -1 ">
			AND TYPE_STATE = #{typeState}
		</if>
		<if test="userId != -1 ">
			AND USER_ID = #{userId}
		</if>
		<if test="sellerId != -1 ">
			AND SELLER_ID = #{sellerId}
		</if>
		<if test="commodityId != -1 ">
			AND COMMODITY_ID = #{commodityId}
		</if>
		<if test="key != null and key != ''">
			AND ORDER_NO LIKE concat(concat('%',#{key}),'%')
		</if>
		ORDER BY ID DESC
   		limit #{index},#{pageSize}
	</select>
	
	<!-- 按照key统计个数 -->
	<select id="countByKeyAndTypeStateAndStatusAndUserIdAndSellerId" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM  orders WHERE STATUS = #{status}
		<if test="date1 != '-1' or date2 != '-1' ">
			AND CREATE_TIME &gt; #{date1 } AND CREATE_TIME &lt; #{date2 }
		</if>
		<if test="typeState != -1 ">
			AND TYPE_STATE = #{typeState}
		</if>
		<if test="userId != -1 ">
			AND USER_ID = #{userId}
		</if>
		<if test="sellerId != -1 ">
			AND SELLER_ID = #{sellerId}
		</if>
		<if test="commodityId != -1 ">
			AND COMMODITY_ID = #{commodityId}
		</if>
		<if test="key != null and key != ''">
			AND ORDER_NO LIKE concat(concat('%',#{key}),'%')
		</if>
	</select>  

		<!-- 按照模糊分页查询列表 -->
	<select id="listByUserId" parameterType="java.util.Map" resultMap="Order">
   		SELECT * FROM orders WHERE USER_ID = #{userId}
		<if test="userId2 != null and userId != '' ">
			OR USER_ID = #{userId2}
		</if>
		<if test="typeState != -1 and typeState != 2 and typeState != 3 and typeState != 4 ">
			AND TYPE_STATE = #{typeState}
		</if>
		<if test="typeState != -1">
			<if test="typeState == 2 or typeState == 3 or typeState == 4  ">
				AND TYPE_STATE >= 2
			</if>
		</if>
   		ORDER BY ID DESC
   		limit #{index},#{pageSize}
	</select>
	
	<!-- 按照key统计个数 -->
	<select id="countByUserId" resultType="java.lang.Integer">
   		SELECT COUNT(ID) FROM orders WHERE USER_ID = #{userId}
		<if test="userId2 != null and userId != '' ">
			OR USER_ID = #{userId2}
		</if>
		<if test="typeState != -1 and typeState != 2 and typeState != 3 and typeState != 4 ">
			AND TYPE_STATE = #{typeState}
		</if>
		<if test="typeState != -1">
			<if test="typeState == 2 or typeState == 3 or typeState == 4  ">
				AND TYPE_STATE >= 2
			</if>
		</if>
	</select>  
	

	<!-- 按照订单 -->
	<select id="getById" parameterType="java.util.Map" resultMap="Order">
   		SELECT * FROM orders WHERE ID = #{id}
	</select>
	
	<select id="getByOrderNo" parameterType="java.util.Map" resultMap="Order">
   		SELECT * FROM orders WHERE ORDER_NO = #{orderNo}
	</select>



	<!-- 查询所有列表 -->
	<select id="listByCommodityIdAndHasPay" parameterType="java.util.Map" resultMap="Order">
		SELECT * FROM orders
		WHERE COMMODITY_ID=#{commodityId} AND TYPE_STATE = 1
		<if test="groupId != null and groupId != ''">
			AND GROUP_ID=#{groupId}
		</if>
		ORDER BY CREATE_TIME DESC
	</select>
</mapper>