<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.OrderCodesMapper">
   <!-- 自定义返回结果集 -->
   <resultMap id="OrderCodes" type="com.xiaoshu.entity.OrderCodes">
		<id property="id" column="ID" javaType="java.lang.Integer"></id>
		<result property="orderId" column="ORDER_ID" javaType="java.lang.Integer"></result>
		<result property="orderNo" column="ORDER_NO" javaType="java.lang.String"></result>
		<result property="codeName" column="CODE_NAME" javaType="java.lang.String"></result>
	    <result property="useCode" column="USE_CODE" javaType="java.lang.String"></result>
	    <result property="codeImage" column="CODE_IMAGE" javaType="java.lang.String"></result>
	    <result property="createTime" column="CREATE_TIME" javaType="java.lang.String"></result>
		<result property="userId" column="USER_ID" javaType="java.lang.String"></result>
		<result property="commodityId" column="COMMODITY_ID" javaType="java.lang.Integer"></result>
	    <result property="sellerId" column="SELLER_ID" javaType="java.lang.Integer"></result>
	    <result property="codeState" column="CODE_STATE" javaType="java.lang.Integer"></result>
	</resultMap>

	<select id="getById" parameterType="java.util.Map" resultMap="OrderCodes">
   		SELECT * FROM order_codes WHERE ID = #{id}
	</select>

</mapper>