<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.SysCodeMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.SysCode">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
		<id column="NAME" jdbcType="VARCHAR" property="name" />
		<id column="VALUE" jdbcType="VARCHAR" property="value" />
		<id column="SORT" jdbcType="VARCHAR" property="sort" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="VARCHAR" property="status" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		CATEGORY_ID,
		NAME,
		VALUE,
		SORT,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS,
		DESC_M
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from sys_code where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_code where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.xiaoshu.entity.SysCode">
		insert into sys_code
		(ID,CATEGORY_ID,NAME,VALUE,SORT,CREATE_TIME,UPDATE_TIME,STATUS,DESC_M)
		values
		(#{id,jdbcType=VARCHAR},#{categoryId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.xiaoshu.entity.SysCode">
		insert into sys_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="categoryId != null">CATEGORY_ID,</if>
			<if test="name != null">NAME,</if>
			<if test="value != null">VALUE,</if>
			<if test="sort != null">SORT,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="descM != null">DESC_M,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="categoryId != null">#{categoryId,jdbcType=VARCHAR},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
			<if test="value != null">#{value,jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.SysCode">
		update sys_code
		<set>
			<if test="categoryId != null">CATEGORY_ID =#{categoryId,jdbcType=VARCHAR},</if>
			<if test="name != null">NAME =#{name,jdbcType=VARCHAR},</if>
			<if test="value != null">VALUE =#{value,jdbcType=VARCHAR},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.SysCode">
		update
		sys_code
		set
		
		CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		VALUE = #{value,jdbcType=VARCHAR},
		SORT = #{sort,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from sys_code
		<where>
			1=1 and status = 1
			<if test="search != null">
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	
	<select id="selectCount" parameterType="com.xiaoshu.entity.SysCode"
		resultType="int">
		select count(*) from sys_code
		<where>
			1=1
			<if test="search != null">

			</if>
		</where>
	</select>

	<select id="getListByCategoryId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			*
		from
			sys_code
		where
			CATEGORY_ID = #{categoryId,jdbcType=VARCHAR} AND STATUS = 1
	</select>
</mapper>
