<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.SysCodeCategoryMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.SysCodeCategory">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="NAME" jdbcType="VARCHAR" property="name" />
		<id column="CODE" jdbcType="VARCHAR" property="code" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="VARCHAR" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		NAME,
		CODE,
		DESC_M,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from sys_code_category where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_code_category where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.xiaoshu.entity.SysCodeCategory">
		insert into sys_code_category
		(ID,NAME,CODE,DESC_M,CREATE_TIME,UPDATE_TIME,STATUS)
		values
		(#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.xiaoshu.entity.SysCodeCategory">
		insert into sys_code_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="name != null">NAME,</if>
			<if test="code != null">CODE,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
			<if test="code != null">#{code,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.SysCodeCategory">
		update sys_code_category
		<set>
			<if test="name != null">NAME =#{name,jdbcType=VARCHAR},</if>
			<if test="code != null">CODE =#{code,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.SysCodeCategory">
		update
		sys_code_category
		set
		
		NAME = #{name,jdbcType=VARCHAR},
		CODE = #{code,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from sys_code_category
		<where>
			1=1 and status = 1
			<if test="search != null">
				AND (NAME LIKE CONCAT('%','${search}','%') OR CODE LIKE concat('%','${search}','%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	
	<select id="selectCount" parameterType="com.xiaoshu.entity.SysCodeCategory"
		resultType="int">
		select count(*) from sys_code_category
		<where>
			1=1 and status = 1
			<if test="search != null">
				AND (NAME LIKE CONCAT('%','${search}','%') OR CODE LIKE concat('%','${search}','%'))
			</if>
		</where>
	</select>
</mapper>
