<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WeChatMenuMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WeChatMenu">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
		<id column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
		<id column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
		<id column="MENU_KEY" jdbcType="VARCHAR" property="menuKey" />
		<id column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
		<id column="MENU_FIRST" jdbcType="VARCHAR" property="menuFirst" />
		<id column="MENU_SECOND" jdbcType="VARCHAR" property="menuSecond" />
		<id column="MENU_DESCRIBE" jdbcType="VARCHAR" property="menuDescribe" />
		<id column="MENU_SORT" jdbcType="VARCHAR" property="menuSort" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="VARCHAR" property="status" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		PARENT_ID,
		MENU_NAME,
		MENU_TYPE,
		MENU_KEY,
		MENU_URL,
		MENU_FIRST,
		MENU_SECOND,
		MENU_DESCRIBE,
		MENU_SORT,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS,
		MENU_ID,
		PARENT_MENU_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_menu where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_menu where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoshu.entity.WeChatMenu">
		insert into wechat_menu
		(ID,PARENT_ID,MENU_NAME,MENU_TYPE,MENU_KEY,MENU_URL,MENU_FIRST,MENU_SECOND,MENU_DESCRIBE,MENU_SORT,CREATE_TIME,UPDATE_TIME,STATUS,MENU_ID,PARENT_MENU_ID)
		values
		(#{id,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},#{menuName,jdbcType=VARCHAR},#{menuType,jdbcType=VARCHAR},#{menuKey,jdbcType=VARCHAR},#{menuUrl,jdbcType=VARCHAR},#{menuFirst,jdbcType=VARCHAR},#{menuSecond,jdbcType=VARCHAR},#{menuDescribe,jdbcType=VARCHAR},#{menuSort,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoshu.entity.WeChatMenu">
		insert into wechat_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="parentId != null">PARENT_ID,</if>
			<if test="menuName != null">MENU_NAME,</if>
			<if test="menuType != null">MENU_TYPE,</if>
			<if test="menuKey != null">MENU_KEY,</if>
			<if test="menuUrl != null">MENU_URL,</if>
			<if test="menuFirst != null">MENU_FIRST,</if>
			<if test="menuSecond != null">MENU_SECOND,</if>
			<if test="menuDescribe != null">MENU_DESCRIBE,</if>
			<if test="menuSort != null">MENU_SORT,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="parentId != null">#{parentId,jdbcType=VARCHAR},</if>
			<if test="menuName != null">#{menuName,jdbcType=VARCHAR},</if>
			<if test="menuType != null">#{menuType,jdbcType=VARCHAR},</if>
			<if test="menuKey != null">#{menuKey,jdbcType=VARCHAR},</if>
			<if test="menuUrl != null">#{menuUrl,jdbcType=VARCHAR},</if>
			<if test="menuFirst != null">#{menuFirst,jdbcType=VARCHAR},</if>
			<if test="menuSecond != null">#{menuSecond,jdbcType=VARCHAR},</if>
			<if test="menuDescribe != null">#{menuDescribe,jdbcType=VARCHAR},</if>
			<if test="menuSort != null">#{menuSort,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=VARCHAR},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WeChatMenu">
		update wechat_menu
		<set>
			<if test="parentId != null">PARENT_ID =#{parentId,jdbcType=VARCHAR},</if>
			<if test="menuName != null">MENU_NAME =#{menuName,jdbcType=VARCHAR},</if>
			<if test="menuType != null">MENU_TYPE =#{menuType,jdbcType=VARCHAR},</if>
			<if test="menuKey != null">MENU_KEY =#{menuKey,jdbcType=VARCHAR},</if>
			<if test="menuUrl != null">MENU_URL =#{menuUrl,jdbcType=VARCHAR},</if>
			<if test="menuFirst != null">MENU_FIRST =#{menuFirst,jdbcType=VARCHAR},</if>
			<if test="menuSecond != null">MENU_SECOND =#{menuSecond,jdbcType=VARCHAR},</if>
			<if test="menuDescribe != null">MENU_DESCRIBE =#{menuDescribe,jdbcType=VARCHAR},</if>
			<if test="menuSort != null">MENU_SORT =#{menuSort,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WeChatMenu">
		update
		wechat_menu
		set
		
		PARENT_ID = #{parentId,jdbcType=VARCHAR},
		MENU_NAME = #{menuName,jdbcType=VARCHAR},
		MENU_TYPE = #{menuType,jdbcType=VARCHAR},
		MENU_KEY = #{menuKey,jdbcType=VARCHAR},
		MENU_URL = #{menuUrl,jdbcType=VARCHAR},
		MENU_FIRST = #{menuFirst,jdbcType=VARCHAR},
		MENU_SECOND = #{menuSecond,jdbcType=VARCHAR},
		MENU_DESCRIBE = #{menuDescribe,jdbcType=VARCHAR},
		MENU_SORT = #{menuSort,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=VARCHAR},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT <include refid="Base_Column_List" />
		FROM wechat_menu
		<where>
			1=1 AND status = 1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND MENU_NAME LIKE CONCAT('%',#{search},'%')
			</if>

			ORDER BY MENU_SORT

			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>

		</where>
	</select>
	<select id="selectCount" parameterType="com.xiaoshu.entity.WeChatMenu"
		resultType="int">
		SELECT count(*) FROM wechat_menu
		<where>
			1=1
            <if test="menuId != null">
                AND MENU_ID = '${menuId}'
            </if>
			<if test="search != null">
				AND MENU_NAME LIKE CONCAT('%',#{search},'%')
			</if>
		</where>
	</select>

	<select id="getMenuListByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			wechat_menu
		WHERE
			PARENT_ID = #{parentId,jdbcType=VARCHAR} AND STATUS = 1
			ORDER BY MENU_SORT
	</select>

	<select id="getMenuByIdOrName" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT *
		FROM wechat_menu
		WHERE 1=1 AND STATUS = 1
		<if test="menuId != null">
			AND ID = '${menuId}'
		</if>
		<if test="menuName != null">
			AND MENU_NAME = '${menuId}'
		</if>
		ORDER BY MENU_SORT
		LIMIT 1
	</select>

	<select id="getSecondMenuListByFirstMenuId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM wechat_menu
		WHERE PARENT_ID = #{firstMenuId,jdbcType=VARCHAR} AND status = 1
		ORDER BY MENU_SORT
	</select>

	<select id="getUpdateWechatMenuList" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM wechat_menu
		WHERE PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR} AND status = 1
		ORDER BY MENU_SORT
	</select>
</mapper>
