<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivityTestQuestionsMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivityTestQuestions">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="TITLE" jdbcType="VARCHAR" property="title" />
		<id column="SORT" jdbcType="INTEGER" property="sort" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="ANSWER_ID" jdbcType="VARCHAR" property="answerId" />
		<id column="WECHAT_ACTIVITY_ID" jdbcType="VARCHAR" property="wechatActivityId" />
		<collection property="listWechatActivityAnswer" column="ID" ofType="com.xiaoshu.entity.WechatActivityAnswer" select="com.xiaoshu.dao.WechatActivityAnswerMapper.getListByQuestionId">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<id column="OPTIONS" jdbcType="VARCHAR" property="options" />
			<id column="SORT" jdbcType="INTEGER" property="sort" />
			<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
			<id column="STATUS" jdbcType="INTEGER" property="status" />
			<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
			<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
			<id column="QUESTIONS_ID" jdbcType="VARCHAR" property="questionsId" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		TITLE,
		SORT,
		DESC_M,
		STATUS,
		CREATE_TIME,
		UPDATE_TIME,
		ANSWER_ID,
		WECHAT_ACTIVITY_ID
	</sql>

	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity_test_questions where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity_test_questions where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="saveRecord" parameterType="com.xiaoshu.entity.WechatActivityTestQuestions">
		insert into wechat_activity_test_questions
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="title != null">TITLE,</if>
			<if test="sort != null">SORT,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="answerId != null">ANSWER_ID,</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="title != null">#{title,jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort,jdbcType=INTEGER},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="answerId != null">#{answerId,jdbcType=VARCHAR},</if>
			<if test="wechatActivityId != null">#{wechatActivityId,jdbcType=VARCHAR}</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivityTestQuestions">
		update wechat_activity_test_questions
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="title != null">TITLE =#{title,jdbcType=VARCHAR},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=INTEGER},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="answerId != null">ANSWER_ID =#{answerId,jdbcType=VARCHAR},</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID =#{wechatActivityId,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_test_questions
		<where>
			1=1
			<if test="search != null">
				AND (TITLE LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatActivityTestQuestions"
		resultType="int">
		select count(*) from wechat_activity_test_questions
		<where>
			1=1
			<if test="search != null">
				AND (TITLE LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
		</where>
	</select>

	<select id="getListTestQuestionsByActivityID" parameterType="java.util.Map"
			resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_test_questions
		<where>
			1=1
			<if test="search != null">
				AND (TITLE LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
		</where>
	</select>
</mapper>
