<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatMaterialMapper">

	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatMaterial">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="TYPESE" jdbcType="VARCHAR" property="typese" />
		<id column="URL" jdbcType="VARCHAR" property="url" />
		<id column="MATERIAL_ID" jdbcType="VARCHAR" property="material_id" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="STATUS" jdbcType="VARCHAR" property="status" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		DESC_M,
		TYPESE,
		URL,
		MATERIAL_ID,
		CREATE_TIME,
		UPDATE_TIME,
		STATUS,
		MENU_ID,
		PARENT_MENU_ID
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_material where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_material where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.xiaoshu.entity.WechatMaterial">
		insert into wechat_material
		(ID,DESC_M,TYPESE,URL,MATERIAL_ID,CREATE_TIME,UPDATE_TIME,STATUS,MENU_ID,PARENT_MENU_ID)
		values
		(#{id,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR},#{typese,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{material_id,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.xiaoshu.entity.WechatMaterial">
		insert into wechat_material
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="typese != null">TYPESE,</if>
			<if test="url != null">URL,</if>
			<if test="material_id != null">MATERIAL_ID,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="typese != null">#{typese,jdbcType=VARCHAR},</if>
			<if test="url != null">#{url,jdbcType=VARCHAR},</if>
			<if test="material_id != null">#{material_id,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=VARCHAR},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatMaterial">
		update wechat_material
		<set>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="typese != null">TYPESE =#{typese,jdbcType=VARCHAR},</if>
			<if test="url != null">URL =#{url,jdbcType=VARCHAR},</if>
			<if test="material_id != null">MATERIAL_ID =#{material_id,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WechatMaterial">
		update
		wechat_material
		set

		DESC_M = #{descM,jdbcType=VARCHAR},
		TYPESE = #{typese,jdbcType=VARCHAR},
		URL = #{url,jdbcType=VARCHAR},
		MATERIAL_ID = #{material_id,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		STATUS = #{status,jdbcType=VARCHAR},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_material
		<where>
			1=1 and status = 1
			<if test="menuId != null">
				AND MENU_ID = '${menuId}'
			</if>
			<if test="search != null">
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>

	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatMaterial" resultType="int">
		select count(*) from wechat_material
		<where>
			1=1 and status = 1
			<if test="search != null">

			</if>
		</where>
	</select>
</mapper>
