<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivityAnswerMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivityAnswer">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="OPTIONS" jdbcType="VARCHAR" property="options" />
		<id column="SORT" jdbcType="INTEGER" property="sort" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="QUESTIONS_ID" jdbcType="VARCHAR" property="questionsId" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		OPTIONS,
		SORT,
		DESC_M,
		STATUS,
		CREATE_TIME,
		UPDATE_TIME,
		QUESTIONS_ID
	</sql>

	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity_answer where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity_answer where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="saveRecord" parameterType="com.xiaoshu.entity.WechatActivityAnswer">
		insert into wechat_activity_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="options != null">OPTIONS,</if>
			<if test="sort != null">SORT,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="questionsId != null">QUESTIONS_ID</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="options != null">#{options,jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort,jdbcType=INTEGER},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="questionsId != null">#{questionsId,jdbcType=VARCHAR}</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivityAnswer">
		update wechat_activity_answer
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="options != null">OPTIONS =#{options,jdbcType=VARCHAR},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=INTEGER},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="questionsId != null">QUESTIONS_ID =#{questionsId,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getListByQuestionId" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_answer
		<where>
			QUESTIONS_ID = #{questionsId}
			order by SORT
		</where>
	</select>

</mapper>
