<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivityPrizeMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivityPrize">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="NAME" jdbcType="VARCHAR" property="name" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="IMAGE" jdbcType="VARCHAR" property="image" />
		<id column="QUANTITY" jdbcType="INTEGER" property="quantity" />
		<id column="ODDS" jdbcType="VARCHAR" property="odds" />
		<id column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
		<id column="WECHAT_ACTIVITY_ID" jdbcType="VARCHAR" property="wechatActivityId" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
		<id column="COMMODITY_ID" jdbcType="INTEGER" property="commodityId" />

	</resultMap>
	<sql id="Base_Column_List">
		ID,
		NAME,
		DESC_M,
		IMAGE,
		QUANTITY,
		ODDS,
		INVALID_TIME,
		WECHAT_ACTIVITY_ID,
		STATUS,
		CREATE_TIME,
		UPDATE_TIME,
		MENU_ID,
		PARENT_MENU_ID,
		COMMODITY_ID
	</sql>
	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity_prize where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity_prize where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="saveRecord" parameterType="com.xiaoshu.entity.WechatActivityPrize">
		insert into wechat_activity_prize
		(ID,NAME,DESC_M,IMAGE,QUANTITY,ODDS,INVALID_TIME,WECHAT_ACTIVITY_ID,STATUS,CREATE_TIME,UPDATE_TIME,MENU_ID,PARENT_MENU_ID,COMMODITY_ID)
		values
		(#{id},#{name},#{descM},#{image},#{quantity},#{odds},#{invalidTime},#{wechatActivityId},#{status},#{createTime},#{updateTime},#{menuId},#{parentMenuId},#{commodityId})
	</insert>
	<insert id="saveSelective" parameterType="com.xiaoshu.entity.WechatActivityPrize">
		insert into wechat_activity_prize
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="name != null">NAME,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="image != null">IMAGE,</if>
			<if test="quantity != null">QUANTITY,</if>
			<if test="odds != null">ODDS,</if>
			<if test="invalidTime != null">INVALID_TIME,</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID</if>
			<if test="commodityId != null">COMMODITY_ID</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="image != null">#{image,jdbcType=VARCHAR},</if>
			<if test="quantity != null">#{quantity,jdbcType=INTEGER},</if>
			<if test="odds != null">#{odds,jdbcType=VARCHAR},</if>
			<if test="invalidTime != null">#{invalidTime,jdbcType=TIMESTAMP},</if>
			<if test="wechatActivityId != null">#{wechatActivityId,jdbcType=wechatActivityId},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR}</if>
			<if test="commodityId != null">#{commodityId,jdbcType=INTEGER}</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivityPrize">
		update wechat_activity_prize
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="name != null">NAME =#{name,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="image != null">IMAGE =#{image,jdbcType=VARCHAR},</if>
			<if test="quantity != null">QUANTITY =#{quantity,jdbcType=INTEGER},</if>
			<if test="odds != null">ODDS =#{odds,jdbcType=VARCHAR},</if>
			<if test="invalidTime != null">INVALID_TIME =#{invalidTime,jdbcType=TIMESTAMP},</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID =#{wechatActivityId,jdbcType=VARCHAR},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR}</if>
			<if test="commodityId != null">COMMODITY_ID =#{commodityId,jdbcType=INTEGER}</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WechatActivityPrize">
		update
		wechat_activity_prize
		set
		ID = #{id,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR},
		IMAGE = #{image,jdbcType=VARCHAR},
		QUANTITY =  #{quantity,jdbcType=INTEGER},
		ODDS =  #{odds,jdbcType=VARCHAR},
		INVALID_TIME =  #{invalidTime,jdbcType=VARCHAR},
		WECHAT_ACTIVITY_ID = #{wechatActivityId,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
		COMMODITY_ID = #{commodityId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_prize
		<where>
			1=1
            <if test="menuid != null">
                AND MENU_ID = '${menuid}'
            </if>
			<if test="search != null">
				AND (NAME LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>

	<select id="getByActivityId" parameterType="java.util.Map"
			resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_prize
		<where>
			WECHAT_ACTIVITY_ID = #{id}
		</where>
	</select>

	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatActivityPrize"
		resultType="int">
		select count(*) from wechat_activity_prize
		<where>
			1=1
            <if test="menuid != null">
                AND MENU_ID = '${menuid}'
            </if>
			<if test="search != null">
				AND (NAME LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
		</where>
	</select>
</mapper>
