<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivityMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivity">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="TITLE" jdbcType="VARCHAR" property="title" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="URL" jdbcType="VARCHAR" property="url" />
		<id column="RETURN_PAGE" jdbcType="VARCHAR" property="returnPage" />
		<id column="TYPES" jdbcType="VARCHAR" property="types" />
		<id column="SHARE" jdbcType="INTEGER" property="share" />
		<id column="SHARE_TITLE" jdbcType="VARCHAR" property="shareTitle" />
		<id column="SHARE_DESC_M" jdbcType="VARCHAR" property="shareDescM" />
		<id column="SHARE_IMAGE" jdbcType="VARCHAR" property="shareImage" />
		<id column="BINDING_WECHAT_ID" jdbcType="VARCHAR" property="bindingWechatId" />
		<id column="AUTHORISED" jdbcType="INTEGER" property="authorised" />
		<id column="SUPPORT_GET_WECHAT_MSG" jdbcType="INTEGER" property="supportGetWechatMsg" />
		<id column="SUBSCRIBE_WECHAT_ID" jdbcType="VARCHAR" property="subscribeWechatId" />
		<id column="PRIZES" jdbcType="INTEGER" property="prizes" />
		<id column="PRIZES_TYPE" jdbcType="VARCHAR" property="prizesType" />
		<id column="BEGIN_TIME" jdbcType="TIMESTAMP" property="beginTime" />
		<id column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
		<id column="SCAN_USER_ID_ARRAY" jdbcType="VARCHAR" property="scanUserIdArray" />
		<id column="COMMODITY_ID" jdbcType="INTEGER" property="commodityId" />
		<id column="TIME_STATUS" jdbcType="INTEGER" property="timeStatus" />
		<collection property="listPrize" column="ID" ofType="com.xiaoshu.entity.WechatActivityPrize" select="com.xiaoshu.dao.WechatActivityPrizeMapper.getByActivityId">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<id column="NAME" jdbcType="VARCHAR" property="name" />
			<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
			<id column="IMAGE" jdbcType="VARCHAR" property="image" />
			<id column="QUANTITY" jdbcType="INTEGER" property="quantity" />
			<id column="ODDS" jdbcType="VARCHAR" property="odds" />
			<id column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
			<id column="WECHAT_ACTIVITY_ID" jdbcType="VARCHAR" property="wechatActivityId" />
			<id column="STATUS" jdbcType="INTEGER" property="status" />
			<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
			<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
			<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
			<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
		</collection>

	</resultMap>
	<sql id="Base_Column_List">
		ID,
		TITLE,
		DESC_M,
		URL,
		RETURN_PAGE,
		TYPES,
		SHARE,
		SHARE_TITLE,
		SHARE_DESC_M,
		SHARE_IMAGE,
		BINDING_WECHAT_ID,
		AUTHORISED,
		SUPPORT_GET_WECHAT_MSG,
		SUBSCRIBE_WECHAT_ID,
		PRIZES,
		PRIZES_TYPE,
		BEGIN_TIME,
		END_TIME,
		STATUS,
		CREATE_TIME,
		UPDATE_TIME,
		MENU_ID,
		PARENT_MENU_ID,
		SCAN_USER_ID_ARRAY,
		COMMODITY_ID,
		TIME_STATUS
	</sql>
	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="saveRecord" parameterType="com.xiaoshu.entity.WechatActivity">
		insert into wechat_activity
		(ID,TITLE,DESC_M,URL,RETURN_PAGE,TYPES,SHARE,
		SHARE_TITLE,SHARE_DESC_M,SHARE_IMAGE,BINDING_WECHAT_ID,AUTHORISED,
		SUPPORT_GET_WECHAT_MSG,SUBSCRIBE_WECHAT_ID,PRIZES,PRIZES_TYPE,BEGIN_TIME,
		END_TIME,STATUS,CREATE_TIME,UPDATE_TIME,MENU_ID,PARENT_MENU_ID,SCAN_USER_ID_ARRAY,COMMODITY_ID,TIME_STATUS)
		values
		(#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{descM,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{returnPage,jdbcType=VARCHAR},#{types,jdbcType=VARCHAR},#{share,jdbcType=INTEGER},
		#{shareTitle,jdbcType=VARCHAR},#{shareDescM,jdbcType=VARCHAR},#{shareImage,jdbcType=VARCHAR},#{bindingWechatId,jdbcType=VARCHAR},
		#{authorised,jdbcType=INTEGER},#{supportGetWechatMsg,jdbcType=INTEGER},#{subscribeWechatId,jdbcType=VARCHAR},#{prizes,jdbcType=INTEGER},#{prizesType,jdbcType=VARCHAR},
		#{beginTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{createTime,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},
		#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR},#{scanUserIdArray,jdbcType=VARCHAR},#{commodityId,jdbcType=INTEGER},#{timeStatus,jdbcType=INTEGER} )
	</insert>
	<insert id="saveSelective" parameterType="com.xiaoshu.entity.WechatActivity">
		insert into wechat_activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="title != null">TITLE,</if>
			<if test="descM != null">DESC_M,</if>
			<if test="url != null">URL,</if>
			<if test="returnPage != null">RETURN_PAGE,</if>
			<if test="types != null">TYPES,</if>
			<if test="share != null">SHARE,</if>
			<if test="shareTitle != null">SHARE_TITLE,</if>
			<if test="shareDescM != null">SHARE_DESC_M,</if>
			<if test="shareImage != null">SHARE_IMAGE,</if>
			<if test="bindingWechatId != null">BINDING_WECHAT_ID,</if>
			<if test="authorised != null">AUTHORISED,</if>
			<if test="supportGetWechatMsg != null">SUPPORT_GET_WECHAT_MSG,</if>
			<if test="subscribeWechatId != null">SUBSCRIBE_WECHAT_ID,</if>
			<if test="prizes != null">PRIZES,</if>
			<if test="prizesType != null">PRIZES_TYPE,</if>
			<if test="beginTime != null">BEGIN_TIME,</if>
			<if test="endTime != null">END_TIME,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID</if>
			<if test="scanUserIdArray != null">SCAN_USER_ID_ARRAY</if>
			<if test="commodityId != null">COMMODITY_ID</if>
			<if test="timeStatus != null">TIME_STATUS</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="title != null">#{title,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
			<if test="url != null">#{url,jdbcType=VARCHAR},</if>
			<if test="returnPage != null">#{returnPage,jdbcType=VARCHAR},</if>
			<if test="types != null">#{types,jdbcType=VARCHAR},</if>
			<if test="share != null">#{share,jdbcType=INTEGER},</if>
			<if test="shareTitle != null">#{shareTitle,jdbcType=VARCHAR},</if>
			<if test="shareDescM != null">#{shareDescM,jdbcType=VARCHAR},</if>
			<if test="shareImage != null">#{shareImage,jdbcType=VARCHAR},</if>
			<if test="bindingWechatId != null">#{bindingWechatId,jdbcType=VARCHAR},</if>
			<if test="authorised != null">#{authorised,jdbcType=INTEGER},</if>
			<if test="supportGetWechatMsg != null">#{supportGetWechatMsg,jdbcType=INTEGER},</if>
			<if test="subscribeWechatId != null">#{subscribeWechatId,jdbcType=VARCHAR},</if>
			<if test="prizes != null">#{prizes,jdbcType=INTEGER},</if>
			<if test="prizesType != null">#{prizesType,jdbcType=VARCHAR},</if>
			<if test="beginTime != null">#{beginTime,jdbcType=TIMESTAMP},</if>
			<if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=VARCHAR},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR}</if>
			<if test="scanUserIdArray != null">#{scanUserIdArray,jdbcType=VARCHAR}</if>
			<if test="commodityId != null">#{commodityId,jdbcType=INTEGER}</if>
			<if test="timeStatus != null">#{timeStatus,jdbcType=INTEGER}</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivity">
		update wechat_activity
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="title != null">TITLE =#{title,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
			<if test="url != null">URL =#{url,jdbcType=VARCHAR},</if>
			<if test="returnPage != null">RETURN_PAGE =#{returnPage,jdbcType=VARCHAR},</if>
			<if test="types != null">TYPES =#{types,jdbcType=VARCHAR},</if>
			<if test="share != null">SHARE =#{share,jdbcType=INTEGER},</if>
			<if test="shareTitle != null">SHARE_TITLE =#{shareTitle,jdbcType=VARCHAR},</if>
			<if test="shareDescM != null">SHARE_DESC_M =#{shareDescM,jdbcType=VARCHAR},</if>
			<if test="shareImage != null">SHARE_IMAGE =#{shareImage,jdbcType=VARCHAR},</if>
			<if test="bindingWechatId != null">BINDING_WECHAT_ID =#{bindingWechatId,jdbcType=VARCHAR},</if>
			<if test="authorised != null">AUTHORISED =#{authorised,jdbcType=INTEGER},</if>
			<if test="supportGetWechatMsg != null">SUPPORT_GET_WECHAT_MSG =#{supportGetWechatMsg,jdbcType=INTEGER},</if>
			<if test="subscribeWechatId != null">SUBSCRIBE_WECHAT_ID =#{subscribeWechatId,jdbcType=VARCHAR},</if>
			<if test="prizes != null">PRIZES =#{prizes,jdbcType=INTEGER},</if>
			<if test="prizesType != null">PRIZES_TYPE =#{prizesType,jdbcType=VARCHAR},</if>
			<if test="beginTime != null">BEGIN_TIME =#{beginTime,jdbcType=TIMESTAMP},</if>
			<if test="endTime != null">END_TIME =#{endTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=VARCHAR},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR},</if>
			<if test="scanUserIdArray != null">SCAN_USER_ID_ARRAY =#{scanUserIdArray,jdbcType=VARCHAR},</if>
			<if test="commodityId != null">COMMODITY_ID =#{commodityId,jdbcType=VARCHAR},</if>
			<if test="timeStatus != null">TIME_STATUS =#{timeStatus,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WechatActivity">
		update
		wechat_activity
		set
		ID = #{id,jdbcType=VARCHAR},
		TITLE = #{title,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR},
		URL = #{url,jdbcType=VARCHAR},
		RETURN_PAGE = #{returnPage,jdbcType=VARCHAR},
		TYPES = #{types,jdbcType=VARCHAR},
		SHARE = #{share,jdbcType=INTEGER},
		SHARE_TITLE = #{shareTitle,jdbcType=VARCHAR},
		SHARE_DESC_M = #{shareDescM,jdbcType=VARCHAR},
		SHARE_IMAGE = #{shareImage,jdbcType=VARCHAR},
		BINDING_WECHAT_ID = #{bindingWechatId,jdbcType=VARCHAR},
		AUTHORISED = #{authorised,jdbcType=INTEGER},
		SUPPORT_GET_WECHAT_MSG = #{supportGetWechatMsg,jdbcType=INTEGER},
		SUBSCRIBE_WECHAT_ID = #{supportGetWechatMsg,jdbcType=VARCHAR},
		PRIZES = #{prizes,jdbcType=INTEGER},
		PRIZES_TYPE = #{prizesType,jdbcType=TIMESTAMP},
		BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
		END_TIME = #{endTime,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=VARCHAR},
		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
		SCAN_USER_ID_ARRAY = #{scanUserIdArray,jdbcType=VARCHAR},
		COMMODITY_ID = #{commodityId,jdbcType=INTEGER},
		TIME_STATUS = #{timeStatus,jdbcType=INTEGER}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity
		<where>
			1=1
            <if test="menuid != null">
                AND MENU_ID = '${menuid}'
            </if>
			<if test="search != null">
				AND (TITLE LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>
	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatActivity"
		resultType="int">
		select count(*) from wechat_activity
		<where>
			1=1
            <if test="menuid != null">
                AND MENU_ID = '${menuid}'
            </if>
			<if test="search != null">
				AND (TITLE LIKE concat('%',#{search},'%') OR DESC_M LIKE concat('%',#{search},'%'))
			</if>
		</where>
	</select>


	<select id="getSignSessionList" parameterType="java.util.Map" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT *
		FROM wechat_activity
		WHERE PARENT_MENU_ID = #{parentMenuId}
		AND  #{nowTime} &lt;= END_TIME
		AND  STATUS = 1
	</select>

</mapper>
