<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivitySignSetMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivitySignSet">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="CHINESE_CHARACTER_NAME" jdbcType="VARCHAR" property="chineseCharacterName" />
		<id column="NAME_PLACEHOLDER" jdbcType="VARCHAR" property="namePlaceholder" />
		<id column="NAME" jdbcType="VARCHAR" property="name" />
		<id column="VALUESE" jdbcType="VARCHAR" property="valuese" />
		<id column="SET_TYPE" jdbcType="INTEGER" property="setType" />
		<id column="TYPESE" jdbcType="VARCHAR" property="typese" />
		<id column="REQUIRED" jdbcType="INTEGER" property="required" />
		<id column="VERIFICATION_TYPE" jdbcType="VARCHAR" property="verificationType" />
		<id column="SORT" jdbcType="INTEGER" property="sort" />
		<id column="HIDE" jdbcType="INTEGER" property="hide" />
		<id column="REPEATS" jdbcType="INTEGER" property="repeat" />
		<id column="DESC_M" jdbcType="VARCHAR" property="descM" />
		<id column="WECHAT_ACTIVITY_ID" jdbcType="VARCHAR" property="wechatActivityId" />
        <id column="WECHAT_ACTIVITY_SIGN_ID" jdbcType="VARCHAR" property="wechatActivitySignId" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		CHINESE_CHARACTER_NAME,
		NAME_PLACEHOLDER,
		NAME,
		VALUESE,
		SET_TYPE,
		TYPESE,
		REQUIRED,
		VERIFICATION_TYPE,
		SORT,
		HIDE,
		REPEATS,
		DESC_M,
		WECHAT_ACTIVITY_ID,
		WECHAT_ACTIVITY_SIGN_ID,
		STATUS,
		CREATE_TIME,
		UPDATE_TIME
	</sql>
	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity_sign_set where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity_sign_set where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="saveSelective" parameterType="com.xiaoshu.entity.WechatActivitySignSet">
		insert into wechat_activity_sign_set
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="chineseCharacterName != null">CHINESE_CHARACTER_NAME,</if>
			<if test="namePlaceholder != null">NAME_PLACEHOLDER,</if>
			<if test="name != null">NAME,</if>
			<if test="valuese != null">VALUESE,</if>
			<if test="setType != null">SET_TYPE,</if>
			<if test="typese != null">TYPESE,</if>
			<if test="required != null">REQUIRED,</if>
			<if test="verificationType != null">VERIFICATION_TYPE,</if>
			<if test="sort != null">SORT,</if>
			<if test="hide != null">HIDE,</if>
			<if test="repeat != null">REPEATS,</if>
			<if test="descM != null">DESC_M,</if>
            <if test="wechatActivityId != null">WECHAT_ACTIVITY_ID,</if>
            <if test="wechatActivitySignId != null">WECHAT_ACTIVITY_SIGN_ID,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="chineseCharacterName != null">#{chineseCharacterName,jdbcType=VARCHAR},</if>
			<if test="namePlaceholder != null">#{namePlaceholder,jdbcType=VARCHAR},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
			<if test="valuese != null">#{valuese,jdbcType=VARCHAR},</if>
			<if test="setType != null">#{setType,jdbcType=INTEGER},</if>
			<if test="typese != null">#{typese,jdbcType=VARCHAR},</if>
			<if test="required != null">#{required,jdbcType=INTEGER},</if>
			<if test="verificationType != null">#{verificationType,jdbcType=VARCHAR},</if>
			<if test="descM != null">#{descM,jdbcType=VARCHAR},</if>
            <if test="wechatActivityId != null">#{wechatActivityId,jdbcType=VARCHAR},</if>
            <if test="wechatActivitySignId != null">#{wechatActivitySignId,jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort,jdbcType=INTEGER},</if>
			<if test="hide != null">#{hide,jdbcType=INTEGER},</if>
			<if test="repeat != null">#{repeat,jdbcType=INTEGER},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivitySignSet">
		update wechat_activity_sign_set
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="chineseCharacterName != null">CHINESE_CHARACTER_NAME =#{chineseCharacterName,jdbcType=VARCHAR},</if>
			<if test="namePlaceholder != null">NAME_PLACEHOLDER =#{namePlaceholder,jdbcType=VARCHAR},</if>
			<if test="name != null">NAME =#{name,jdbcType=VARCHAR},</if>
			<if test="valuese != null">VALUESE =#{valuese,jdbcType=VARCHAR},</if>
			<if test="setType != null">SET_TYPE =#{setType,jdbcType=INTEGER},</if>
			<if test="typese != null">TYPESE =#{typese,jdbcType=VARCHAR},</if>
			<if test="required != null">REQUIRED =#{required,jdbcType=INTEGER},</if>
			<if test="verificationType != null">VERIFICATION_TYPE =#{verificationType,jdbcType=VARCHAR},</if>
			<if test="descM != null">DESC_M =#{descM,jdbcType=VARCHAR},</if>
            <if test="wechatActivityId != null">WECHAT_ACTIVITY_ID =#{wechatActivityId,jdbcType=VARCHAR},</if>
            <if test="wechatActivitySignId != null">WECHAT_ACTIVITY_SIGN_ID =#{wechatActivitySignId,jdbcType=VARCHAR},</if>
			<if test="sort != null">SORT =#{sort,jdbcType=INTEGER},</if>
			<if test="hide != null">HIDE =#{hide,jdbcType=INTEGER},</if>
			<if test="repeat != null">REPEATS =#{repeat,jdbcType=INTEGER},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP}</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WechatActivitySignSet">
		update
		wechat_activity_sign_set
		set
		ID = #{id,jdbcType=VARCHAR},
		CHINESE_CHARACTER_NAME = #{chineseCharacterName,jdbcType=VARCHAR},
		NAME_PLACEHOLDER = #{namePlaceholder,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		VALUESE = #{valuese,jdbcType=VARCHAR},
		SET_TYPE = #{setType,jdbcType=INTEGER},
		TYPESE = #{typese,jdbcType=VARCHAR},
		REQUIRED = #{required,jdbcType=INTEGER},
		VERIFICATION_TYPE = #{verificationType,jdbcType=VARCHAR},
		DESC_M = #{descM,jdbcType=VARCHAR},
		WECHAT_ACTIVITY_ID = #{wechatActivityId,jdbcType=VARCHAR},
		WECHAT_ACTIVITY_SIGN_ID = #{wechatActivitySignId,jdbcType=VARCHAR},
		SORT = #{sort,jdbcType=INTEGER},
		HIDE = #{hide,jdbcType=INTEGER},
		REPEATS = #{repeat,jdbcType=INTEGER},
		STATUS = #{status,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_sign_set
		<where>
			1=1
			<if test="search != null">
				AND (NAME LIKE concat('%',#{search},'%') OR VALUESE LIKE concat('%',#{search},'%'))
			</if>
			<if test="orderName != null and orderName !=''">
				order by ${orderName} ${descAsc}
			</if>
			<if test="startRow !=null">
				limit ${startRow},${pageSize}
			</if>
		</where>
	</select>


	<select id="getAllByActivityId" parameterType="java.util.Map" resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_sign_set
		<where>
			WECHAT_ACTIVITY_ID = #{wechatActivityId} AND SET_TYPE = #{setType}
			order by SORT
		</where>
	</select>

	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatActivitySignSet"
		resultType="int">
		select count(*) from wechat_activity_sign_set
		<where>
			1=1
			<if test="search != null">
				AND (NAME LIKE concat('%',#{search},'%') OR VALUESE LIKE concat('%',#{search},'%'))
			</if>
		</where>
	</select>
</mapper>
