<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.WechatActivitySignMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.WechatActivitySign">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<id column="OPENID" jdbcType="VARCHAR" property="openid" />
		<id column="UNIONID" jdbcType="VARCHAR" property="unionid" />
		<id column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<id column="WECHAT_ACTIVITY_ID" jdbcType="VARCHAR" property="wechatActivityId" />
		<id column="DRAW" jdbcType="INTEGER" property="draw" />
		<id column="STATUS" jdbcType="INTEGER" property="status" />
		<id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
		<id column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		OPENID,
		UNIONID,
		USER_ID,
		WECHAT_ACTIVITY_ID,
		STATUS,
		DRAW,
		CREATE_TIME,
		UPDATE_TIME,
		MENU_ID,
		PARENT_MENU_ID
	</sql>
	<select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from wechat_activity_sign where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wechat_activity_sign where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="saveRecord" parameterType="com.xiaoshu.entity.WechatActivitySign">
		insert into wechat_activity_sign
		(ID,OPENID,UNIONID,USER_ID,WECHAT_ACTIVITY_ID,DRAW,STATUS,CREATE_TIME,UPDATE_TIME,MENU_ID,PARENT_MENU_ID)
		values
		(#{id,jdbcType=VARCHAR},#{openid,jdbcType=VARCHAR},#{unionid,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{wechatActivityId,jdbcType=VARCHAR},
		#{draw,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{menuId,jdbcType=VARCHAR},#{parentMenuId,jdbcType=VARCHAR})
	</insert>
	<insert id="saveSelective" parameterType="com.xiaoshu.entity.WechatActivitySign">
		insert into wechat_activity_sign
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="openid != null">OPENID,</if>
			<if test="unionid != null">UNIONID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID,</if>
			<if test="draw != null">DRAW,</if>
			<if test="status != null">STATUS,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="menuId != null">MENU_ID,</if>
			<if test="parentMenuId != null">PARENT_MENU_ID</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="openid != null">#{openid,jdbcType=VARCHAR},</if>
			<if test="unionid != null">#{unionid,jdbcType=VARCHAR},</if>
			<if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
			<if test="wechatActivityId != null">#{wechatActivityId,jdbcType=VARCHAR},</if>
			<if test="draw != null">#{draw,jdbcType=INTEGER},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="menuId != null">#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">#{parentMenuId,jdbcType=VARCHAR}</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoshu.entity.WechatActivitySign">
		update wechat_activity_sign
		<set>
			<if test="id != null">ID =#{id,jdbcType=VARCHAR},</if>
			<if test="openid != null">OPENID =#{openid,jdbcType=VARCHAR},</if>
			<if test="unionid != null">UNIONID =#{unionid,jdbcType=VARCHAR},</if>
			<if test="userId != null">USER_ID =#{userId,jdbcType=VARCHAR},</if>
			<if test="wechatActivityId != null">WECHAT_ACTIVITY_ID =#{wechatActivityId,jdbcType=VARCHAR},</if>
			<if test="draw != null">DRAW =#{draw,jdbcType=INTEGER},</if>
			<if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="menuId != null">MENU_ID =#{menuId,jdbcType=VARCHAR},</if>
			<if test="parentMenuId != null">PARENT_MENU_ID =#{parentMenuId,jdbcType=VARCHAR}</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoshu.entity.WechatActivitySign">
		update
		wechat_activity_sign
		set
		ID = #{id,jdbcType=VARCHAR},
		OPENID = #{openid,jdbcType=VARCHAR},
		UNIONID = #{unionid,jdbcType=VARCHAR},
		USER_ID = #{userId,jdbcType=VARCHAR},
		WECHAT_ACTIVITY_ID = #{wechatActivityId,jdbcType=VARCHAR},
		DRAW = #{draw,jdbcType=INTEGER},
		STATUS = #{status,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		MENU_ID = #{menuId,jdbcType=VARCHAR},
		PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getAllSignByActivityId" parameterType="java.util.Map"
			resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_sign
		<where>
			WECHAT_ACTIVITY_ID = #{wechatActivityId}
			<if test="draw != 0">
				AND DRAW = #{draw}
			</if>
		</where>
	</select>

	<select id="selectByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from wechat_activity_sign
		<where>
			1=1 AND WECHAT_ACTIVITY_ID = #{wechatActivityId}
            <if test="draw != 0">
                AND DRAW =#{draw }
            </if>
			<if test="search != null and search != ''">
				AND (OPENID LIKE concat('%',#{search},'%') OR UNIONID LIKE concat('%',#{search},'%'))
			</if>
            <if test="startRow !=null">
                limit ${startRow},${pageSize}
            </if>
		</where>
	</select>
	<select id="selectCount" parameterType="com.xiaoshu.entity.WechatActivitySign"
		resultType="int">
		select count(*) from wechat_activity_sign
		<where>
			1=1 AND WECHAT_ACTIVITY_ID = #{wechatActivityId}
            <if test="draw != 0">
              AND DRAW =#{draw }
            </if>
			<if test="search != null and search != ''">
				AND (OPENID LIKE concat('%',#{search},'%') OR UNIONID LIKE concat('%',#{search},'%'))
			</if>
		</where>
	</select>
</mapper>
